
<style>
    .app_background{
        background-color: white;
        height: 300px;
        text-align: center;
        margin-bottom: 50px;
    }

    .app_download{
        width: 100%;
        font-weight:700 ;
        line-height: 15px;
    }

    .app_mobile_orange{
        color: orangered;
    }

    .app_background p{
        text-align: left;
        font-size: 15px;
        font-weight: 300;
        width: 32%;
        margin: auto;
        margin-bottom: 30px;
    }

    .download_padding_top{
        padding-top: 80px ;
        }

        .download_button{
            margin: 25px;
            background-color: orangered;
            font-size: 14px;
            
            padding: 8px 15px;
            border-radius: 7px;
            }
</style>


<div class="app_background">
    <h2 class="app_download download_padding_top">
        Download
    </h2>

    <h1 class="app_download app_mobile_orange">
        Mobile App
    </h1>

    <p class="">
        Download Kinghills Travels App to Book Your Trip With Exciting Offers.
    </p>

    <%= link_to "Google Play", "https://play.google.com/store/apps", class: "download_button", style: "color: white; text-decoration: none;" %>
</div>